<nav class="main-nav">
  <button class="main-nav__toggle"></button>
  <div class="main-nav__wrapper">
    <ul class="main-nav__list site-list">
      <li class="site-list__item site-list__item--active">
        <a href="">Home</a>
      </li>
      <li class="site-list__item">
        <a href="">Profile</a>
      </li>
      <li class="site-list__item">
        <a href="">Technical</a>
      </li>
    </ul>
    <ul class="main-nav__list user-list">
      <li class="user-list__item">
        <a href="">Loginng set defaults.styleExt scss</a>
      </li>
    </ul>
  </div>
</nav>
